.logo {
    padding: 20px;
    height: 60px;
    width: 300px;
    transition: $trs;
    cursor: pointer;
    position: relative;
    z-index: 1;

    &:before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient( to left, $main-color, $main-color-light);
        opacity: 0;
        z-index: -1;
        transition: $trs;
    }

    svg path {
        transition: $trs;
    }
    svg rect {
        transition: $trs;
    }

    &:hover {
        &:before {
            opacity: 1;
        }

        svg path {
            fill: $white;
            &:first-child {
                fill: $white;
            }
            &:nth-child(2) {
                fill: $white;
            }
            &:nth-child(3) {
                fill: $white;
            }
        }
        svg rect {
            fill: $white;
        }
    }
}
