@import '~@/assets/scss/common/variables';
@import '~@/assets/scss/common/mixins';

.fade-enter-active {
    animation: .3s fade;
}

.fade-leave-active {
    animation: .3s fade reverse ;
}

.fade-enter {
    opacity: 1;
}

.fade-leave-to {
    opacity: 0;
}

@keyframes fade {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes rotate {
   from {
      transform: rotate(0deg);
   }
   to {
      transform: rotate(360deg);
   }
}
