$font: 'TTNorms', 'Helvetica', 'Arial', sans-serif;

$white: #ffffff;
$default: #1C0E42;

$main-color: #FFB26F;
$main-color-light: #C1956F;
$main-color-dark: #A86226;

$primary: #FFD06F;
$primary-light: #C1A66F;
$primary-dark: #A87E26;

$secondary: #FF736F;
$secondary-light: #C1716F;
$secondary-dark: #A82926;

$green: #00CC00;
$green-light: #39E639;
$green-dark: #008500;

$gray: #9B9B9B;
$gray-light: #CCCCCC;
$gray-dark: #525252;

$container: 1200px;
$trs: .3s ease-in-out;
$trs5: .5 ease-in-out;
$padding: 20px;
$padding-m: 10px;

$block-radius: 10px;
$button-radius: 6px;
